
# Tensorflow needs remote repo
common --experimental_repo_remote_exec

# Basic build settings
build --jobs 128
# enable platform type specific config
build --enable_platform_specific_config
# Sets the default Apple platform to macOS.It should be first
# Allow debugging with XCODE
build --apple_generate_dsym

#default
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
build --copt=-w
#Linux
build:linux --cxxopt=-std=c++17
build:linux --host_cxxopt=-std=c++17
build:linux --copt=-w
build:linux --linkopt=-Wl,-rpath,/home/diasfloc/OpenCV/opencv_env/lib

# macOS
build:macos --cxxopt=-std=c++17
build:macos --host_cxxopt=-std=c++17
build:macos --copt=-w
build:macos --linkopt=-Wl,-rpath,/Users/mac/OpenCV/opencv_env/lib


# build --apple_platform_type=macos
